body {
}
.glyphicon-remove:hover {
  cursor:pointer
}

.grid {
  width: 500px;
  height: 400px;
}

md-toolbar:not(.md-menu-toolbar) {
  background-color: rgb(25, 138, 210);
}

md-input-container {
  margin: 0;
}
