<!--<div style="width: 16.5cm; height: 7.4cm; border: solid">-->
    <p style="position: absolute; left: 392px; top: 5px; margin: 0; font-size: 8px">2018</p>
    <p style="position: absolute; left: 357px; top: 5px; margin: 0; font-size: 8px">07</p>
    <p style="position: absolute; left: 322px; top: 5px; margin: 0; font-size: 8px">12</p>
    <p style="position: absolute; left: 510px; top: 6px; margin: 0; font-size: 8px">005</p>
    <p style="position: absolute; left: 315px; top: 44px; margin: 0; font-size: 8px">Pablo Gonzalez Murillo</p>
    <p style="position: absolute; left: 95px; top: 56px; margin: 0; font-size: 8px">Barrio Lourdes</p>
    <p style="position: absolute; left: 95px; top: 67px; margin: 0; font-size: 8px">300 Oeste del cristo de piedra</p>
    <p style="position: absolute; left: 95px; top: 82px; margin: 0; font-size: 8px">100 000</p>
    <p style="width: 7cm; overflow: auto; position: absolute; left: 35px; top: 102px; margin: 0; font-size: 8px;">El dia martes se realizara recoleccion de desechos. Ademas se suspendera el servicio de agua</p>
    <!--<div style='page-break-before: always;'></div>-->
    <!--<p>Hello world 2</p>-->
<!--</div>-->