<style type="text/css">
	@page {
		margin: 0;
		padding: 0px;
	}
	* {
		margin: 0px;
		padding: 0px;
	}
	body {
		margin: 0px;
		padding: 0px;
		font-family: "Courier";
	}

	div {
		margin: 0;
		padding: 0;
	}

	.date {
		position: absolute;
		left: 620px;
		top: 60px;
		margin: 0;
		font-size: 25px;
		height: 25px;
	}

	.field {
		position: absolute;
		left: 100px;
		top: 120px;
		margin: 0;
		font-size: 25px;
		height: 25px;
		overflow: hidden;
		width: 800px;
	}

	.message {
		width: 800px;
		overflow: auto;
		position: absolute;
		left: 100px;
		top: 280px;
		margin: 0;
		font-size: 22px;
		height: 44px;
		overflow: hidden;
	}
</style>
{{#each pages}}
	<div style="page-break-after:auto; margin: 0;">
		{{#each contribuyentes}}
		{{#if first}}
			<div style="position: relative; height: 399px; border-bottom: solid 1px red;">
				<p class="date">Fecha: {{day}} / {{month}} / {{year}}</p>
				<p class="field" style="top: 120px;">Nombre: {{name}} {{lastname}} {{lastname2}}</p>
				<p class="field" style="top: 160px;">Sector: {{sector}}</p>
				<p class="field" style="top: 200px;">Direcci&oacute;n: {{address}}</p>
				<p class="field" style="top: 240px;">Monto: {{value}}</p>
				<p class="message">Aviso: {{message}}</p>
			</div>
		{{/if}}
		{{#if middle}}
			<div style="position: relative; height: 404px; margin-top: 60px; border-bottom: solid 1px green;">
				<p class="date">Fecha: {{day}} / {{month}} / {{year}}</p>
				<p class="field" style="top: 120px;">Nombre: {{name}} {{lastname}} {{lastname2}}</p>
				<p class="field" style="top: 160px;">Sector: {{sector}}</p>
				<p class="field" style="top: 200px;">Direcci&oacute;n: {{address}}</p>
				<p class="field" style="top: 240px;">Monto: {{value}}</p>
				<p class="message">Aviso: {{message}}</p>
			</div>
		{{/if}}
		{{#if last}}
			<div style="position: relative; height: 374px; margin-top: 68px;  border-bottom: solid 1px yellow;">
				<p class="date">Fecha: {{day}} / {{month}} / {{year}}</p>
				<p class="field" style="top: 120px;">Nombre: {{name}} {{lastname}} {{lastname2}}</p>
				<p class="field" style="top: 160px;">Sector: {{sector}}</p>
				<p class="field" style="top: 200px;">Direcci&oacute;n: {{address}}</p>
				<p class="field" style="top: 240px;">Monto: {{value}}</p>
				<p class="message">Aviso: {{message}}</p>
			</div>
		{{/if}}
		{{/each}}
	</div>
{{/each}}
